@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

$main:       #263238;
$grey:       #BDBDBD;
$light:      #E0E0E0;
$alert:      #D84315;
$focus:      #0D47A1;
$white:      #FFF;

$radius:     7px;

$main-font:  'Roboto', sans-serif;

// Auth form
$width:      400px;
$padding:    20px;
